@import '_utility';

/* Global */

body {
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    background: #000;
    color: var(--font-color-default);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.default-container{
    padding-left: max(5.886vw, 89px);
    padding-right: max(5.886vw, 89px);
}

.default-button{
    
    a{
        display: inline-block;
        font-size: max(1.587vw, 24px);
        color: #fff;
        text-decoration: none;
        border-radius: 8px;
        background: #F0141E;
        padding: max(1.058vw, 16px) max(2.116vw, 32px);
        transition: var(--transition);

        &:hover{
            background: #fff;
            color: #000;
        }
    }
}

.img-responsive {
    max-width: 100%;
}
/* Global */
.header{
    padding: 3.638vw 0;
    z-index: 999;
    transition: var(--transition);

    $self: &;

    &__logo{
        width: max(13.492vw, 204px);
    }

    &__nav{
        ul{
            li{
                padding: 0 1.157vw;
                a{
                    font-size: 1.587vw;
                    color: #fff;
                    position: relative;
                    text-decoration: none;
                    transition: var(--transition);
                    &::after{
                        display: block;
                        transition: var(--transition);
                        content: "";
                        width: 0;
                        height: 2px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background: #fff;
                    }

                    &:hover{
                        color: #f0141e;

                        &::after{
                            background: #f0141e;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    &--float{
        background: #000;
        padding: 1.323vw 0;

        #{$self}__logo{
            width: max(9.921vw, 150px);
        }
    }
}

.hero{
    $self: &;
    &__slideshow{

        img{
            z-index: 5;
        }
        &::after{
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 10;
            background: linear-gradient(180deg, rgba(3, 3, 3, 0) 0.14%, #030303 75.56%);
            width: 100%;
            height: 38.558vw;
            content: "";
        }

        &::before{
            display: block;
            z-index: 11;
            content: "";
            width: #{"calc(100% - 5.886vw)"};
            height: max(0.397vw, 6px);
            border-radius: 5px;
            background: linear-gradient(90deg, #F0141E 41.9%, rgba(240, 20, 30, 0.00) 97.68%);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    &__content{
        z-index: 500;
        color: #fff;
        top: 26.124vw;
        left: 0;
        width: 100%;
        h1{
            font-family: var(--font-family-title);
            font-size: max(6.614vw, 75px);
            line-height: 1.4;
        }
        p{
            font-size: max(2.116vw, 22px);
            padding: max(1.190vw, 18px) 0 max(3.968vw, 60px);
        }
    }
}

.comics{
    $self: &;

    &__row{
        margin: 0 max(-2.149vw, -32.5px);
        padding-top: max(3.704vw, 56px);
    }

    &__col{
        width: calc(100% / 4);
        padding: max(3.704vw, 56px) max(2.149vw, 32.5px);
        a{
            display: block;
            width: 100%;
        }
    }

    &__image{

        img{
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

    }
    &__content{
        h3{
            line-height: 1.2;
            font-weight: 600;
            font-size: max(1.587vw, 16px);
            padding: max(1.190vw, 18px) 0 0;
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: max(2.910vw, 25px) 0 0;
            li{
                line-height: 1.1;
                font-size: max(1.323vw, 14px);
                span{
                    opacity: 0.5;
                }
            }
        }
    }
}

.marvelHeroes{
    padding: max(5.556vw, 84px) 0 0 0;
    $self: &;
    h2{
        font-family: var(--font-family-title);
        font-size: max(6.349vw, 96px);
        text-align: center;
    }

    &__row {
        margin: 0 max(-2.149vw, -32.5px);
        padding-top: max(3.472vw, 52.5px);
    }

    &__col {
        width: calc(100% / 4);
        padding: max(3.472vw, 52.5px) max(2.149vw, 32.5px);

        a {
            display: block;
            width: 100%;
        }
    }

    &__img {
        img{
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__content {
        padding: max(0.661vw, 10px) 0 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        h3{
            font-size: max(2.315vw, 24px);
            font-weight: 600;
            line-height: 1.2;
        }
        span{
            font-size: max(1.852vw, 19px);
            font-weight: 600;
            line-height: 1.2;
            display: block;
            padding: max(0.661vw, 10px) 0 0;
        }

        &--year{
            color: #F0141E;
            font-size: max(1.455vw, 17px);
            padding: 0.7vw 0;
        }
    }
}

.latestNews{
    $self: &;
    h2{
        font-size: 2.381vw;
    }

    &__row{

    }
    &__col{
        width: calc(100% / 2);
        padding: max(1.720vw, 26px) 0;
        a{
            color: #fff;
            text-decoration: none;
        }
    }

    &__img{
        width: max(14.220vw, 215px);
        flex-shrink: 0;
    }
    &__content{
        padding: 0 0 0 max(1.389vw, 21px);
      
        h3{
            font-size: max(1.587vw, 17px);
            line-height: 1.3;
        }
    }
}
.marvelInsider{
    padding: max(7.407vw, 112px) 0 0;
    $self: &;

    &__container{

    }

    &__img{
        width: 51.786vw;
    }
    &__content{
        width: 48.214vw;
        text-align: center;
        h4{
            font-size: max(2.116vw, 25px);
            color: #F0141E;
            text-transform: uppercase;
            padding: 0 0 max(2.116vw, 32px) 0;
        }
        h5{
            font-size: max(2.646vw,30px);
            font-weight: 600;
            padding: 0 0 max(2.116vw, 19px);
        }
        p{
            font-size: max(1.984vw, 21px);
            padding: 0 0 max(3.439vw, 52px);
        }
    }
}

.footer{
    $self: &;
    padding: max(3.902vw, 59px) 0 max(5.159vw, 78px);

    h2{
        font-size: max(1.587vw, 18px);
    }
    &__container {

    }
    &__logo{
        width: max(17.328vw, 262px);
        margin: 0 auto;
        padding: 0 0 max(3.704vw, 56px);
    }

    &__info{

    }

    &__nav{
        width: 30.952vw;
        ul{
            display: flex;
            flex-flow: row wrap;
            li{
                width: 50%;
                padding: max(0.529vw, 8px) 0;
                a{
                    color: #fff;
                    font-size: max(1.587vw, 16px);
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: var(--transition);
                    &:hover{
                        color: #F0141E;;
                    }
                }
            }
        }
    }

    &__text{
        width: 33.399vw;
        flex-shrink: 1;

        &--set{

            padding: max(1.257vw, 19px );
            &--img{
                width: 8.135vw;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &--det{
                padding-left: 1.323vw;
                p{
                    font-size: max(1.257vw, 16px);
                    opacity: 0.5;
                    line-height: 1.7;
                }
            }
        }
    }

    &__smi{ 
        ul{
            margin: max(2.116vw, 32px) 0 0;
            li{
                padding: 0 max(0.529vw, 8px);
                &:first-child{
                    padding-left: 0;
                }
                a{
                    transition: var(--transition);
                    img{
                        width: max(3.307vw, 35px);
                    }
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    &__copyright{
        padding: max(8.532vw, 129px) 0 0;
        ul{
            li{
                opacity: 0.5;
                padding: max(0.860vw, 13px) max(1.653vw, 25px);
                font-size: max(1.323vw, 20px);

                &:first-child{
                    padding-left: 0;
                }

                &:nth-child(5){
                    padding-right: 0;
                }
                a{
                    color: #fff;
                    text-decoration: none;
                    transition: var(--transition);
                    &:hover{
                        color: #F0141E;
                    }
                }
            }            
        }
    }

}

/*******************************************************
 *
 * 4. IP Styles
 *
 *******************************************************/
.ip-banner {
    position: relative;
    width: 100%;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0, 0, 0, .6);
    }

    canvas {
        display: block;
        position: relative;
        z-index: 0;
        width: 100%;
        min-height: 250px;
        background-color: var(--dark);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    h1 {
        font-weight: 700;
        font-size: 32px;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: 1.7;

        span {
            display: block;
            font-size: 24px;
            font-weight: 400;
            text-transform: none;
            letter-spacing: 0.01em;
        }
    }
}

/* Adjust minimum height of page area */
#content-sidebar,
#content-full {
    min-height: 500px;
    margin-top: 20px;
}

/** Adjust width of content columns **/
#content-sidebar #content {
    width: 77.08%;
}

#content-full #content {
    width: 100%;
}

/* Adjust width of sidebar */
.sidebar {
    width: 20.83%;
}

/* fullwidth template */
.page-template-template-fullwidth {
    #content {
        padding-left: 15px;
        padding-right: 15px;

        ihf-search[data-eureka-id*=""].ihf-eureka {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}

/* Adjust line height of page elements */
#content h4,
aside h4,
#content p,
aside p,
#content blockquote,
aside blockquote,
#content ul,
aside ul,
#content fieldset,
aside fieldset,
#content form,
aside form,
#content ol,
aside ol,
#content dl,
aside dl,
#content dir,
aside dir,
#content menu,
aside menu {
    line-height: 1.7
}

/* Style .entry-title(post/page) and .archive-title(category/archive/etc) main headings (h1) */
#content .entry-title,
#content .archive-title {}

/* Styles for category/archive/search/etc subheadings (h2) */
#content .archive-subtitle {}



/* iPad(landscape) | iPad(landscape) | Galaxy Tab 4 (landscape) | Galaxy Tab 3 (landscape) */
@media only screen and (max-width: 1199px) {
    .inner {
    }
}

/* iPad(portrait) | Galaxy Tab 4(portrait)  */
@media only screen and (max-width: 991px) {
   

    /* The following are used on inner pages. Please edit carefully. */
    .inner {
        width: 100%;
    }

    #content-sidebar,
    #content-full {
        width: 100%;
    }

    .outer {
        width: 100%;
        min-width: 100%;
    }

    #content-sidebar #content {
        width: 100%;
    }


    .footer {
        width: 100%;
        background: #d7d7d7;
        padding: 30px 0;

        p {
            line-height: 1.7;
            text-align: center;
        }

        .footernav{
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            li{
                padding: 10px;
               
            }
        }

        .footer-logo{
            width: 100% !important;
            float: none !important;
        }
    }
}
/* Galaxy Tab 3(portrait) | Galaxy S5(landscape) */
@media only screen and (max-width: 767px) {
    .ip-banner .container {
        width: 100%;
    }
    
}

/* Galaxy S5(portrait) | iPod Touch(landscape) | iPod Touch(portrait) */
@media only screen and (max-width: 480px) {
    .inner {
    }
}